* {
  box-sizing: border-box;
  font-family: "Cormorant Garamond", serif;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}
:root {
  --main-bg-color: #fffef7;
  --main-text-color: #373636;
  --main-logo-color: #5e716a;
  --main-container-color: #f2ddbe;
  --main-font-size: 16px;
  --main-font-family: "Cormorant Garamond", serif;
}
[data-theme="halloween"] {
  --main-bg-color: #1e1e1e;
  --main-text-color: #f0f0f0;
  --main-logo-color: #fc7600;
  --main-container-color: #2e2e2e;
}
[data-theme="christmas"] {
  --main-bg-color: #580000;
  --main-text-color: #f4bb37;
  --main-logo-color: #b20000;
  --main-container-color: #175401;
}

[data-theme="default"] .default-logo {
  display: block;
  opacity: 1;
}

[data-theme="halloween"] .halloween-logo {
  display: block;
  opacity: 1;
}

[data-theme="halloween"] .default-logo,
[data-theme="halloween"] .christmas-logo {
  display: none;
  opacity: 0;
}

[data-theme="christmas"] .christmas-logo {
  display: block;
  opacity: 1;
}

[data-theme="christmas"] .default-logo,
[data-theme="christmas"] .halloween-logo {
  display: none;
  opacity: 0;
}

.header {
  display: flex;
  justify-content: space-around;
  background-color: var(--main-container-color);
  height: 9.5rem;
}

.header-container {
  text-align: center;
  padding: 1rem;
}

h1 {
  font-size: 3rem;
  color: var(--main-logo-color);
  margin-top: 10px;
}
h2 {
  font-style: italic;
}

.logout-icon {
  font-size: 1.5rem;
  color: #333;
  transition: color 0.3s ease;
}

.container-main {
  background-color: var(--main-container-color);
  padding: 2rem;
  margin: 5rem;
  border-radius: 10px;
}

.book-item {
  background-color: var(--main-bg-color);
  border-radius: 10px;
  margin: 20px;
  max-width: 240px;
  height: 400px;
  padding: 10px;
  box-shadow: gray 0px 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
img {
  border-radius: 10px;
  margin-left: 25%;
}
.book-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.login {
  display: flex;
}
#login-text {
  margin-left: 10px;
  font-size: 1rem;
}
#login-text:hover {
  text-decoration: underline;
}

#login-btn {
  background-color: var(--main-header-color);
  color: var(--main-text-color);
  border: none;
  font-size: var(--main-font-size);
  cursor: pointer;
}
#login-btn:hover {
  text-decoration: underline;
}

.buy-button {
  background-color: var(--main-container-color);
  color: var(--main-text-color);
  border-radius: 5px;
  width: 180px;
  border: none;
  padding: 5px;
  cursor: pointer;
}
.buy-button:hover {
  background-color: var(--main-logo-color);
  color: var(--main-bg-color);
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--main-bg-color);
  padding: 20px;
  box-shadow: 0 7px 8px rgba(0, 0, 0.2, 0.2);
  border-radius: 10px;
  z-index: 1000;
}

.modal.show {
  display: block;
}

.modal.hide {
  display: none;
}

#open-modal-btn {
  text-decoration: none;
  background-color: var(--main-container-color);
  color: var(--main-text-color);
  border: none;
  font-size: var(--main-font-size);
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.close-modal-btn,
.login-btn-modal {
  cursor: pointer;
}

.modal-content {
  display: flex;
  flex-direction: column;
}

#login-form,
#createAccountModal {
  width: 300px;
  margin: 0 auto;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  margin: 10px;
  height: 35px;
  border-radius: 10px;
  width: 90%;
  border: 1px solid var(--main-logo-color);
  font-size: var(--main-font-size);
  padding: 5px;
}

.login-btn-modal {
  background-color: var(--main-container-color);
  color: var(--main-text-color);
  border: none;
  font-size: var(--main-font-size);
  cursor: pointer;
  border-radius: 5px;
  width: 90%;
  margin: 10px;
  height: 35px;
  padding: 10px;
  display: flex;
  justify-content: center;
}
.login-btn-modal:hover {
  background-color: var(--main-logo-color);
  color: var(--main-bg-color);
}

.welcome-message {
  font-size: 1.5rem;
  text-align: center;
  margin: 20px;
  margin: 20px;
}

.stars {
  cursor: pointer;
  color: var(--main-text-color);
}

.save-button {
  background-color: var(--main-container-color);
  color: var(--main-text-color);
  border-radius: 5px;
  width: 90%;
}
.save-button:hover {
  background-color: var(--main-logo-color);
  color: var(--main-bg-color);
}

.save-button .fa-heart {
  transition: colo 0.3s ease;
}

#coverHeartContainer {
  display: flex;
  justify-content: center;
}
.heart-container {
  margin-left: 25px;
  font-size: 1.4rem;
  cursor: pointer;
}

.book-item {
  transition: transform 0.8s ease;
  opacity: 0.8;
}

.logout-icon-container,
.book-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
}

.logout-text,
.book-text {
  font-size: 1rem;
  margin-left: 1rem;
  transition: all 0.3s ease;
}

span:hover {
  text-decoration: underline;
}
.footer-container {
  background-color: var(--main-container-color);
  display: flex;
  flex-direction: column;
  height: 100%;
  bottom: 0;
  height: 9rem;
  font-size: 1rem;
}

.social-media,
.footer-links,
#footer-rights {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

a {
  text-decoration: none;
  margin-left: 10px;
  color: var(--main-text-color);
}
a:hover {
  text-decoration: underline;
}
